<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings />
  <configProtectedData />
  <system.diagnostics />
  <system.windows.forms />
  <uri />
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TimeTracker-20131023150912;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TimeTracker-20131023150912.mdf" /><add name="CAPHWConnection" connectionString="Server=SINGAPORECAP;Database=CAP;User Id=sa;password = SaSing" providerName="System.Data.SqlClient" />
    <add name="CAPSWConnection" connectionString="Server=SINGAPORECAP;Database=CAP_PRO;User Id=sa;password = SaSing" providerName="System.Data.SqlClient" />
    <add name="TimeTrackerEntities" connectionString="metadata=res://*/TimeTrackerModel.csdl|res://*/TimeTrackerModel.ssdl|res://*/TimeTrackerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TimeTracker;persist security info=True;user id=sa;password=manage;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.web>
    <anonymousIdentification />
    <authorization />
    <clientTarget />
    <customErrors />
    <deviceFilters />
    <fullTrustAssemblies />
    <globalization />
    <healthMonitoring />
    <hostingEnvironment />
    <httpCookies />
    <httpHandlers />
    <httpModules />
    <identity />
    <machineKey />
    <mobileControls />
    <partialTrustVisibleAssemblies />
    <securityPolicy />
    <sessionPageState />
    <siteMap />
    <trace />
    <trust level="Full" />
    <urlMappings />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    <webParts />
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx" />
    </webServices>
    <xhtmlConformance />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" defaultUrl="~/" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="480">
      <providers>
        <add connectionStringName="DefaultConnection" name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </sessionState>
    <caching>
      <cache />
      <outputCache />
      <outputCacheSettings />
      <sqlCacheDependency />
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.net>
    <authenticationModules />
    <connectionManagement />
    <defaultProxy />
    <requestCaching />
    <settings />
    <webRequestModules />
    <mailSettings>
      <smtp />
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache />
  </system.runtime.caching>
  <system.runtime.serialization>
    <dataContractSerializer />
  </system.runtime.serialization>
  <system.serviceModel>
    <behaviors />
    <bindings />
    <client />
    <comContracts />
    <diagnostics />
    <extensions />
    <protocolMapping />
    <routing />
    <serviceHostingEnvironment />
    <services />
    <standardEndpoints />
    <tracking />
  </system.serviceModel>
  <system.serviceModel.activation>
    <diagnostics />
    <net.pipe />
    <net.tcp />
  </system.serviceModel.activation>
  <system.transactions>
    <defaultSettings />
  </system.transactions>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler />
      <webServices>
        <authenticationService />
        <jsonSerialization />
        <profileService />
        <roleService />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.xaml.hosting>
    <httpHandlers />
  </system.xaml.hosting>
  <system.xml.serialization>
    <dateTimeSerialization />
    <schemaImporterExtensions />
    <xmlSerializer />
  </system.xml.serialization>
</configuration>